<p>home works!</p>
<div class="d-flex flex-row bd-highlight mb-3">
    <div class="p-2 bd-highlight">Flex item 1</div>
    <div class="p-2 bd-highlight">Flex item 2</div>
    <div class="p-2 bd-highlight">Flex item 3</div>
</div>
<div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight">Flex item 1</div>
    <div class="p-2 bd-highlight">Flex item 2</div>
    <div class="p-2 bd-highlight">Flex item 3</div>
 </div>

<div class="d-flex justify-content-start">Bonjour-1</div>
<div class="d-flex justify-content-end">Bonjour-2</div>
<div class="d-flex justify-content-center">Bonjour-3</div>
<div class="d-flex justify-content-between">Bonjour-4</div>
<div class="d-flex justify-content-around">Bonjour-5</div>
<div class="d-flex justify-content-evenly">Bonjour-6</div>

<div class="d-flex align-items-start">Abdoul Madjid</div>
<div class="d-flex align-items-end">Abdoul Madjid</div>
<div class="d-flex align-items-center">Abdoul Madjid</div>
<div class="d-flex align-items-baseline">Abdoul Madjid...</div>
<div class="d-flex align-items-stretch">Abdoul Madjid</div>